---
layout: default
title: dbeck blog
woopra: mainpage
---

<div id="about" style="float: none">
  <span><img src="/images/DSCF5591.JPG" alt="Me" width="40%" style="float: left; padding-right: 10px"></span>
  <span>
    <p>
      I am an open minded thinker with lots of CPU cycles spent on programming. I am a software developer by trade, interested in a wide range of topics including economics, maths, statistics and financial markets.
    </p>
    <p>
      I am very much interested in backend programming where I have spent around 20 years. Most of it in C++ on different Unix flavours. Over half of it on Linux.
    </p>
    <p>
      I am working on the scalesmall project as my main activity and I am also available for contracts. <!-- through <a href="http://www.streambrightdata.com">StreamBright</a>.--> There is more about me on <a href="https://hu.linkedin.com/in/davidbeckhungary">LinkedIn</a>.
    </p>
  </span>
</div>

<div id="home" style="float: left">

  <h1>Chatter for Elixir</h1>
  <ul class="posts">
    <li><a href="/chatter_ex/">Chatter for Elixir Documentation</a></li>
    {% for post in site.posts %}
      {% if post.category == 'Chatter for Elixir' %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <h1>ScaleSmall for Elixir</h1>
  <ul class="posts">
    {% for post in site.posts %}
      {% if post.category == 'ScaleSmall for Elixir' %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <h1>Elixir</h1>
  <ul class="posts">
    {% for post in site.posts %}
      {% if post.category == 'Elixir' %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <h1>IoT</h1>
  <ul class="posts">
    {% for post in site.posts %}
      {% if post.category == 'IoT' %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <h1>Startup</h1>
  <ul class="posts">
    {% for post in site.posts %}
      {% if post.category == 'Startup' %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <h1>Other</h1>
  <ul class="posts">
    {% for post in site.posts %}
      {% if post.category != 'Elixir' and post.category != 'IoT' and post.category != 'Startup' and post.category != 'ScaleSmall for Elixir' and post.category != 'Chatter for Elixir' %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

</div>
