---
layout: default
title: dbeck blog
woopra: mainpage
---

<div id="about" style="float: none">
  <span><img src="/images/DSCF5591.JPG" alt="Me" width="40%" style="float: left; padding-right: 10px"></span>
  <span>
    <p>
      This is my personal blog. All views are mine and none of them are associated with my previous,
      present and future employers/jobs.
    </p>
    <p>
      This blog is for my random thoughts about different topics, mostly about programming.
    </p>
    <p>
      I often experiment with ideas, programming languages, distributed systems for fun.
      Here I share some of the results and I hope it will be useful for others.
      There is more about me on <a href="https://hu.linkedin.com/in/davidbeckhungary">LinkedIn</a>.
    </p>
  </span>
</div>

<div id="home" style="float: left">

  <h1>Rust experiments</h1>
  <ul class="posts">
    {% for post in site.posts %}
      {% if post.category == 'Rust' %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <h1>Elixir experiments</h1>
  <h2>Chatter for Elixir</h2>
  <ul class="posts">
    {% for post in site.posts %}
      {% if post.category == 'Chatter for Elixir' %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <h2>ScaleSmall for Elixir</h2>
  <ul class="posts">
    {% for post in site.posts %}
      {% if post.category == 'ScaleSmall for Elixir' %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <h2>Other Elixir posts</h2>
  <ul class="posts">
    {% for post in site.posts %}
      {% if post.category == 'Elixir' %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <h1>IoT</h1>
  <ul class="posts">
    {% for post in site.posts %}
      {% if post.category == 'IoT' %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <h1>Startup</h1>
  <ul class="posts">
    {% for post in site.posts %}
      {% if post.category == 'Startup' %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <h1>Other</h1>
  <ul class="posts">
    {% for post in site.posts %}
      {% if post.category != 'Rust' and post.category != 'Elixir' and post.category != 'IoT' and post.category != 'Startup' and post.category != 'ScaleSmall for Elixir' and post.category != 'Chatter for Elixir' %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

</div>
